@font-face {
	font-family: Roboto-Bold;
	src: url("../cssBayan/assets/fonts/Roboto/Roboto-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 100%;
}

header, footer {
	background-color: rgba(41, 204, 166, 0.5);
}

.wrapper {
	padding: 1vw 15vw;
}

.header--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0.2vw 0.2vw rgba(22, 103, 84, 0.677);
}

h1 {
	display: inline;
	flex-grow: 1;
	text-align: center;
	padding-right: 10vw;
	/* flex-grow, text align, padding-rigth взяты, чтобы поместить текст по центру. padding-rigth = .logo {width}*/
	font-family: "Roboto-Bold", sans-serif;
	font-size: 3vw;
	-webkit-text-fill-color: transparent;
	/* transparent дает прозрачный текст */
	-webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
	/* -webkit-text-stroke цвет текста по периметру */
	text-shadow: -0.2vw -0.1vw rgba(0, 0, 0, 1);
	cursor: default;
}

@media (hover:hover) and (pointer: fine) {
	h1:hover {
		-webkit-text-stroke: 0.1vw rgba(255, 255, 255, 0.859);
		text-shadow: -0.2vw -0.1vw rgba(255, 255, 255, 0.859);
	}
}
/* @media (hover:hover) and (pointer: fine) для ноутбуков hover работает*/

.logo {
	width: 10vw;
}

.main--wrapper {
	box-shadow: 0 0.2vw 0.2vw rgba(22, 103, 84, 0.677);
}

.accordion {
	margin: 0 5vw;
	cursor: pointer;
}

@media (hover:hover) and (pointer: fine) {
	.accordion:hover .accordion--item-text{
		color: rgba(0, 0, 0, 1);
	}
}
/* @media (hover:hover) and (pointer: fine) для ноутбуков hover работает*/

@media (hover:hover) and (pointer: fine) {
	.accordion:hover .marker {
		color: rgba(0, 0, 0, 1);
	}
}
/* @media (hover:hover) and (pointer: fine) для ноутбуков hover работает*/

.accordion--item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0.2vw 0.2vw rgba(22, 103, 84, 0.677);
	/* border-top: 0.2vw solid rgba(22, 103, 84, 0.677); */
}

.accordion--item:first-child {
	border-top: none;
}

.accordion--item-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5vw 2vw;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 1.5vw;
	color: rgba(22, 103, 84, 0.677);
	cursor: pointer;
	transition: color 1s;
}

@media (hover:hover) and (pointer: fine) {
	.accordion--item-text:hover + .accordion--item-img {
		width: 40vw;
		padding: 1vw;
	}
}
/* @media (hover:hover) and (pointer: fine) для ноутбуков hover работает*/

@media (hover:hover) and (pointer: fine) {
	.accordion--item-text:hover .marker {
		transform: rotate(45deg);
	}
}
/* @media (hover:hover) and (pointer: fine) для ноутбуков hover работает*/

.marker {
	color: rgba(0, 0, 0, 0);
	/* transition: color 1s;
	transition: transform 1s;
	почему-то не работает transition: color, а transition: transform работает.
	может потому, что span лежит в .accordion--item-text, а у него свой transition: color*/
	transition: all 1s;
}

@media (hover: none) {
	.marker {
		color: rgba(0, 0, 0, 1);
	}
}
/* @media (hover:none) чтобы показать крестики но мобилках*/

.accordion--item-icon {
	display: none;
}

.accordion--item-img {
	width: 0;
	transition: all 1s;
}

.accordion--item-icon:checked ~ .accordion--item-text {
	color: rgba(0, 0, 0, 1);
}

	/* .accordion--item-icon:checked .marker {
	почему-то так не работает, в отличии от .accordion:hover .marker */
	.accordion--item-icon:checked ~ .accordion--item-text span {
	transform: rotate(45deg);
}

.accordion--item-icon:checked ~ .accordion--item-img {
	width: 40vw;
	padding: 1vw;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

li {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 1vw;
}

.link-footer {
	height: 2vw;
}

.link-footer:last-child {
	margin-left: 2vw;
}